@import './variables';
@import './base';

// --- Navigation ---
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: $color-text-primary;
}

.main-nav a.router-link-exact-active {
  color: $color-active-link;
}

.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

// --- Section Hero (Bannière principale) ---
.hero {
  background-image: url('../assets/img/bank-tree.jpeg');
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: $color-background-light;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

// --- Styles responsives desktop ---
@media (min-width: $breakpoint-desktop) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }

  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }

  .hero-content .subtitle {
    font-size: 1.5rem;
  }

  .hero-content .text {
    font-size: 1.2rem;
  }
}

// --- Section Features ---
.features {
  display: flex;
  flex-direction: column;
}

// --- Styles responsives desktop ---
@media (min-width: $breakpoint-desktop) {
  .features {
    flex-direction: row;
  }
}

.feature-icon {
  width: 100px;
  border: 10px solid $color-primary;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  flex: 1;
  padding: 2.5rem;
}

.feature-item-title {
  color: $color-text-secondary;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

// --- Bouton de Connexion (Page d'accueil) ---
.sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: $color-primary;
  background-color: $color-primary;
  color: $color-text-light;
}

// --- Contenu de la Page de Connexion --
.sign-in-content {
  box-sizing: border-box;
  background-color: $color-background-light;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.sign-in-icon {
  font-size: 5rem;
}

// --- Formulaire ---
.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.error-message{
  color: red;
  text-align: center;
  margin-top: 1rem; 
}

// --- Pied de page ---
.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid $color-border-light;
  padding: 2rem 0 1.5rem;
}

.footer-text {
  margin: 0;
  padding: 0;
}

// --- Section Compte (Page Profil Utilisateur) ---
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color-border-dark;
  background-color: $color-background-light;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
}

.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account-content-wrapper {
  width: 100%;
  flex: 1;
}

// --- Bouton d'Édition (Page Profil Utilisateur) ---
.edit-button {
  border-color: $color-primary;
  background-color: $color-primary;
  color: $color-text-light;
  font-weight: bold;
  padding: 10px;
}

// --- En-tête (Page Profil Utilisateur) ---
.header {
  color: $color-text-light;
  margin-bottom: 2rem;
}

// --- Bouton de Transaction (Page Profil Utilisateur) ---
.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: $color-primary;
  background-color: $color-primary;
  color: $color-text-light;
}

// --- Styles responsives mobile ---
@media (min-width: $breakpoint-mobile) {
  .account {
    flex-direction: row;
  }

  .account-content-wrapper.cta {
    flex: 0;
  }

  .transaction-button {
    width: 200px;
  }
}