// --- Couleurs des textes ---
$color-text-primary: #2c3e50;
$color-text-secondary: #222;
$color-text-light: #fff;
$color-text-grey: #757575;

// --- Couleurs ---
$color-primary: #00bc77;
$color-background-dark: #12002b;
$color-background-light: white;
$color-background-grey: #e0e0e0;

// --- Couleurs des bordures ---
$color-border-light: #ccc;
$color-border-dark: black;
$color-border-grey: #ababab;
$color-border-grey-light: #d0d0d0;

// --- Couleurs des liens ---
$color-active-link: #42b983;

// --- Fonts ---
$font-family-base: Avenir, Helvetica, Arial, sans-serif;

// --- Responsive Design ---
$breakpoint-desktop: 920px;
$breakpoint-mobile: 720px;